
# http://stevegrunwell.github.io/wordpress-git/#/10
# Keep these files out of the repo
/wp-content/themes/twenty*
/wp-content/upgrade
#/wp-content/uploads
/sitemap.*
/wp-config.php
wp-config.php
wp-content/uploads/
wp-content/uploads/*
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
/nbproject/private/